*{
    font-family: sans-serif;
}

body{
    background-color: #7dcfb6;
}
section{
    padding: 0px
}

#barbar {
    position: sticky;
    top: 0px;
}

#output{
    text-align: center;
    padding: 50px 50px;
    color: red;
}

.center {
    text-align: center;
}

footer{
    background-color: #0099ff;
}

button{
    margin: 10px 10px;
}

.jarakAntarKita{
    margin: 10px;
}
.jumbotron {
    margin: 25px;
}